
:root {
    --gc-indigo: #693999;
    --gc-gray: #E5E7E8;
    --gc-yellow: #f3c600;
    --gc-silver: #D2D3D5;
    --gc-green: #00b550;
    --gc-red: #f24c4c;
    --gc-dark: #292929;
    --gc-white: #ffffff;    
}

body {
    background: linear-gradient(to top, #5A4FCF, #693999, #39056d);
    color: var(--gc-silver);
}

h1, h2 {
    font-family: 'Silkscreen';
    color: var(--gc-yellow);
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    font-family: 'Rubik';
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.card-text, .accordion-body > p {
    font-size: 1rem;
}


.btn-style {
    background-color: var(--gc-yellow);
    color: var(--gc-dark);
    border: none;
}

body {
    width: 75%;
    margin: 0 auto;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--gc-dark);
    color: var(--gc-silver);
}

.card-title {
    font-family: 'Silkscreen';
    color: var(--gc-yellow);
    letter-spacing: 2px;
}

.card-text {
    flex-grow: 1;
    font-family: 'Rubik';
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.accordion-item {
    border-radius: .5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--gc-silver);
    overflow: hidden;
}

.accordion-item:first-child,
.accordion-item:last-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.accordion-body {
    background-color: #292929;
    color: var(--gc-silver);
}

.accordion-button {
    font-family: 'Silkscreen', sans-serif;
    color: var(--gc-yellow);
    background-color: var(--gc-dark);
}


.accordion-button:not(.collapsed) {
    background-color: var(--gc-indigo);
    color: var(--gc-yellow);
}

.accordion-button:focus {
    box-shadow: none;
    box-shadow: 2px salmon;
}

.accordion-button::after {
    filter: invert(57%) sepia(79%) saturate(579%) hue-rotate(95deg) brightness(99%) contrast(97%);
}

.accordion-button:not(.collapsed)::after {
    filter: invert(29%) sepia(89%) saturate(7487%) hue-rotate(357deg) brightness(108%) contrast(121%);
}

.navbar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/test.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--gc-dark);
}
.navbar-toggler {
    filter: invert(57%) sepia(79%) saturate(579%) hue-rotate(95deg) brightness(99%) contrast(97%);
}
.navbar-toggler:not(.collapsed) {
    filter: invert(29%) sepia(89%) saturate(7487%) hue-rotate(357deg) brightness(108%) contrast(121%);
}


.nav-link {
    color: var(--gc-silver);
}